[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
sendgrid = "*"
astroid = "*"
coverage = "*"
gevent = "*"
greenlet = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pylint = "*"
six = "*"
wrapt = "*"
Flask = "*"
aiohttp = "*"
jsonpickle = "*"

[dev-packages]

[requires]
python_version = "3.7"
