[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
twilio = "*"
sendgrid = "*"
aiohttp = "*"

[dev-packages]
black = "==19.3b0"
flake8 = "*"

[requires]
python_version = "3.7"
